@mixin border($color) {
  border-style: solid;
  border-width: .15rem;
  border-color: $color;
}
@mixin flexRow ($justify-content) {
  display: flex;
  flex-direction: row;
  justify-content: $justify-content;
}
@mixin wrongInput {
  .wrongEntryMessage {
    margin-top: 10px;
    color:rgb(234, 71, 118);
    // @include border(green);
  }
}

@mixin checkbox {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 10px;
  // @include border(MediumBlue);

  .icon {
    visibility: hidden;
    position: absolute;
    left: 4px;
    top: 0px;
    height: 10px;
    width: 10px;
    stroke: white;
    stroke-width: 20%;
    transition: visibility .1s ease;
    cursor: pointer;
    // @include border(rgb(98, 214, 92));
    .svg {
      fill: none;
      // @include border (rgb(33, 173, 21));
    }
  }
  input[type="checkbox"] {
    appearance: none;
    background-color: white;
    height: 18px;
    width: 18px;
    cursor: pointer;
    border-radius: 2px;
    transition: background-color .2s ease;

    &:checked {
      background-color: #1773B0;
    }
    &:checked + .icon {
      visibility: visible;
      transition: visibility .1s ease;
    }
  }
}

@mixin inputText {
  background-color: rgba(255, 0, 0, 0);
  width: 100%;
  font-size: 14px;
  border-radius: 8px;
  position: relative;
  background-color: rgb(255, 255, 255);
  // @include border(white);
  // @include border(MediumBlue); // Default border (uncomment if desired)


  .inputText {
    padding: 13px 11px;
    border-radius: 8px;
    font-size: 14px;
    width: 100%;
    height: 46px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    box-shadow: none;
    outline: none;
    color: black;
    transition: padding 0.3s ease, border 0.3s ease;
    z-index: 47;
    position: relative;
    @include border(white);

    &:focus {
      @include border(#1773B0);
    }
    &.wrongEntry {
      @include border(rgb(234, 71, 118));
    }
  }

  .inputUpdate {
    padding: 22px 11px 6px;
    transition: padding 0.3s ease
    // @include border(rgb(49, 255, 22));
  }
  .inputLabel {
    opacity: 0;
    transform: translateY(40%);
    position: absolute;
    top: 7px;
    left: 13px;
    color: rgb(104, 104, 104);
    // transition: top .2s ease;
    // background-color: rgb(35, 56, 210);
    z-index: 45;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  .showLabel {
    opacity: 1;
    transform: translateY(0);
  }
}

.checkoutContainer {
  display: flex;
  flex-direction: column;
  // height: 100vh;
  height: 100%;
  width: 100vw;
  // align-items: center;
  // justify-content: center;

  @include border(white);
  .navContainer {
    display: flex;
    justify-content: center;
    border-bottom: solid 1px rgb(63, 63, 63);
    // @include border(blue);
    .header {
      width: 100%;
      max-width:1180px;
      padding: 21px 38px;
      @include flexRow(space-between);
      // justify-content: space-between;
      // justify-content: ;
      // @include border(green);
      .logo {
        cursor: pointer;
        // @include border (hotpink);
      }
      .icon {
        width: 24px;
        height: 24px;
        stroke: rgb(23, 115, 176);
        cursor: pointer;
        // @include border (hotpink);
        .svg {
          fill: none;
          // @include border (rgb(33, 173, 21));
        }
      }
    }
  }
  .bodyContainer {
    height: 100%;
    display: grid;
    overflow-y: auto;
    grid-template-columns: minmax( min-content, calc(50% + calc( calc( 660px - 520px ) / 2 )) ) 1fr;
    .formContainer {
      justify-items: right;
      border-right: solid 1px rgb(63, 63, 63);
      // @include border(hotpink);
      .forms {
        max-width: 660px;
        width: 100%;
        height: auto;
        padding: 38px;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        @include border(MediumPurple);
        .expressHeader {
          display: flex;
          justify-content: center;
          width: 100%;
          font-size: 14px;
          color: rgba(255, 255, 255, 0.66);

          // @include border(MediumBlue);
        }
        .expressPayments {
          @include flexRow(space-between);
          // justify-content: space-between;
          width: 100%;
          padding-top: 17px;
          // @include border(MediumBlue);
        }
        .cardPaymentHeader {
          display: flex;
          justify-content: center;
          position: relative;
          align-items: center;
          width: fit-content;
          width: 100%;
          padding: 17px 0px 26px;
          &::before,
          &::after {
            content: '';
            flex-grow: 1;
            width: unset;
            height: unset;
            border-bottom: solid 1px rgb(63, 63, 63);
          }
          .header {
            margin: 0px 14px;
            font-size: 14px;
            color: rgba(255, 255, 255, 0.66);
            // @include border(MediumBlue);
          }
        }
      }
    }
    .contactContainer {
      width: 100%;
      display: grid;
      row-gap: 14px;
      // @include border(HotPink);
      .headerContainer {
        @include flexRow(space-between);

        // @include border(MediumPurple);
        .header {
          padding: 0px;
          width: fit-content;
          height: fit-content;
          // @include border(MediumBlue);
        }
        .login {
          color: #1773B0;
          cursor: pointer;
          text-decoration: underline;
          // @include border(MediumBlue);
          transition: color .2s ease;
          &:hover {
            color: #0f4569;
          }
        }
      }
      .email {
        // @include border(MediumPurple);
        .inputContainer {
          @include inputText();
        }
        @include wrongInput();
      }
      .marketing {
        @include flexRow(normal);
        align-items: center;
        width: fit-content;
        cursor: pointer;
        // @include border(MediumPurple);
        .checkboxInput {
          @include checkbox();
        }
        .subscribe {
          font-size: 14px;
          font-weight: 600;
          // @include border(MediumBlue);
        }
      }
    }
    .deliveryContainer {
      width: 100%;
      margin-top: 32px;
      display: grid;
      row-gap: 14px;
      // @include border(red);

      .deliveryHeader {
        // @include border(MediumPurple);
      }
      .country {
        .inputContainer {
          @include inputText();
        }
        @include wrongInput();
        // @include border(MediumPurple);
      }
      .nameWrapper {
        @include flexRow(space-evenly);
        column-gap: 14px;
        // @include border(MediumPurple);
        .firstname {
          width: 100%;
          .inputContainer {
            @include inputText();
          }
          @include wrongInput();
          // @include border(MediumBlue);
        }
        .lastname {
          width: 100%;
          .inputContainer {
            @include inputText();
          }
          @include wrongInput();
          // @include border(MediumBlue);
        }
      }
      .address {
        .inputContainer {
          @include inputText();
        }
        @include wrongInput();
        // @include border(MediumPurple);
      }
      .apartment {
        .inputContainer {
          @include inputText();
        }
        @include wrongInput();
        // @include border(MediumPurple);
      }
      .region {
        @include flexRow(space-evenly);
        column-gap: 14px;
        // @include border(MediumPurple);
        .city {
          .inputContainer {
            @include inputText();
          }
          @include wrongInput();
          width: 100%;
          // @include border(MediumBlue);
        }
        .state {
          .inputContainer {
            @include inputText();
          }
          @include wrongInput();
          width: 100%;
          // @include border(MediumBlue);
        }
        .zip {
          .inputContainer {
            @include inputText();
          }
          @include wrongInput();
          width: 100%;
          // @include border(MediumBlue);
        }
      }
      .phone {
        .inputContainer {
          @include inputText();
        }
        // @include border(MediumPurple);
      }
      .alerts {
        @include flexRow(start);
        width: fit-content;
        cursor: pointer;
        align-items: center;
        // @include border(MediumPurple);

        .checkboxInput {
          @include checkbox();
        }
        .alertMessage {
          font-size: 14px;
          font-weight: 600;
        }
      }
      .shippingHeader {
        // @include border(MediumPurple);
      }
      .shippingMessage {
        // @include border(MediumPurple);
      }
      .shippingOptions {
        background-color: white;
        color: black;
        border-radius: 8px;
        // @include border(rgb(222, 222, 222));
        // @include border(MediumPurple);

        .usps {
          @include flexRow(normal);
          column-gap: 11px;
          border-radius: 6px 6px 0 0;
          padding: 14px;
          @include border(rgb(222, 222, 222));
          border-width: 1px;
          border-bottom: 0px;


          .uspsRadioButton {
            input[type="radio"] {
              appearance: none;
              width: 18px;
              height: 18px;
              border-radius: 50%;
              @include border(rgb(222, 222, 222));
              border-width: 1px;
              transition: border-width .1s ease;
              transition-timing-function: cubic-bezier(0.3, 0.5, 0.5, 1);

              // @include border(MediumBlue);
            }
          }

          .uspsTitle {
            width: 100%;
            // @include border(Yellow);
          }
          .price {
            font-weight: 600;
            // @include border(Yellow);
          }
        }
        .expressShipping {
          @include flexRow(normal);
          column-gap: 11px;
          border-radius: 0 0 6px 6px;
          padding: 14px;
          @include border(rgb(222, 222, 222));
          border-width: 1px;
          border-top: 0px;
          // @include border(MediumBlue);

          .shippingRadioButton {
            input[type="radio"] {
              appearance: none;
              width: 18px;
              height: 18px;
              border-radius: 50%;
              // border-style: solid;
              @include border(rgb(222, 222, 222));
              border-width: 1px;
              transition: border-width .1s ease-in;

              &:checked {
                border-color: #1773B0;
                border-width: 6px;
              }


            }
          }

          .expressTitle {
            width: 100%;
            // @include border(Yellow);
          }
          .price {
            font-weight: 400;
            // @include border(Yellow);
          }
        }
        .chosenShipping {
          background-color: rgb(242, 247, 255);
          @include border(rgb(23,115,176));
          border-width: 1px;

          input[type="radio"] {
            appearance: none;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            @include border(rgb(23,115,176));
            border-width: 1px;

            &:checked {
              border-color: #1773B0;
              border-width: 6px;
            }

            // @include border(MediumBlue);
          }
        }
      }
      .unselectedShipping {
        background-color: rgb(34, 34, 34);
        padding: 17px;
        border-radius: 8px;

        // @include border(MediumPurple);
        .message {
          font-size: 14px;
          text-align: center;
          color: rgba(255, 255, 255, 0.66);
          // @include border(MediumBlue);
        }
      }
    }
    .itemsContainer {
      background-color: #f5f5f5;
      // @include border(hotpink);
      .items {
        max-width: 520px;
        width: 100%;
        height: 100%;
        color: black;
        padding: 38px;
        @include border(MediumPurple);
      }
    }
  }
}