$accent-color: #00cca7;

@mixin border($color) {
  border-style: solid;
  border-width: .15rem;
  border-color: $color;
}



.cartContainer {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease, visibility 0.3s ease; // Fade for container
  // @include border(rgb(0, 255, 94)); // Uncomment if needed for debugging
  z-index: 52;

  &.showCart {
    opacity: 1;
    visibility: visible;
  }

  &.hideCart {
    opacity: 0;
    visibility: hidden;
  }

  .bg {
    background-color: rgba(0, 0, 0, 0.561); // Red-tinted background
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease; // Fade effect
    opacity: 0; // Start hidden
    // @include border(rgb(0, 102, 255)); // Uncomment if needed for debugging
    &.visible {
      opacity: 1; // Fade in when container is shown
    }
  }

  .cart {
    position: absolute;
    width: 482px;
    height: 100%;
    top: 0;
    right: 0;
    background-color: white;
    color: rgb(0, 0, 0);
    transition: transform 0.3s ease, opacity 0.3s ease; // Slide + fade
    transform: translateY(-30%); // Start off-screen (top)
    opacity: 0; // Start hidden
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // @include border(rgb(217, 255, 0)); // Uncomment if needed for debugging
    &.visible {
      transform: translateY(0); // Slide to original position
      opacity: 1; // Fade in
    }
    .topWrapper {
      height: fit-content;
      padding: 30px 30px 0px;
      // @include border(red);

      .headerWrapper {
        // @include border(blue);
        .header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          // @include border(yellow);
          .title {
            width: fit-content;
            font-family: 'Eurostile Extended', sans-serif;
            font-size: 22px;
            // @include border(rgb(255, 0, 128));
          }
          .icon {
            width: fit-content;
            filter: invert(48%);
            &:hover {
              filter: invert(71%);
              cursor: pointer;

            }
            // @include border(rgb(255, 0, 128));
          }
        }
        .divider {
          margin-block: 5px;
          border-top-color: rgb(86, 86, 86);
          border-top-style: solid;
          border-top-width: 1px;
          margin-top: 12px;
        }
        .totalProducts {
          color: rgb(86, 86, 86);
          font-size: 14px;
          margin-block: 12px;
          // @include border(yellow);
        }
        .shippingWrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          // @include border(yellow);
          .progressWrapper {
            width: 100%;
            align-items: center;
            justify-items: center;

            // @include border(black);
            .progressBar {
              // @include border(green);

            }
            .calculation {
              width: fit-content;
              font-size: 14px;
              padding: 12px 12px 0px;
              // @include border(green);
            }
          }
          .freeShipWrapper {
            display: flex;
            flex-direction: row;
            width: 100%;
            align-items: center;
            background-color: #e6faf6;
            padding: 10px 6px;


            // @include border(black);

            .shipIcon {
              margin-right: 5px;

              // @include border(green);
            }
            .freeShip {
              width: fit-content;
              color: #0aa88b;
              font-size: 14px;
              // @include border(green);
            }
          }
        }
      }

    }
    .vinylsWrapper {
      height: 100%;
      padding-inline: 30px;
      overflow-y: scroll;
      // @include border(rgb(0, 255, 26));
      & > *:not(:first-child) {

        border-top-style: solid;
        border-top-width: 1px;
        border-top-color: rgb(212, 212, 212);
        padding-top: 10px;
        // border-top: 10px;
      }
      .vinyl {
        height: 120px;
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top: 16px;
        justify-content: space-between;
        // @include border(orange);


        .vinylImage {

          // @include border(hotpink);
        }
        .vinylInfoWrapper {
          display: flex;
          flex-direction: column;
          width: 286px;
          justify-content: space-between;
          // @include border(rgb(105, 208, 255));

          .vinylInfo {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            // @include border(green);
            .vinylDetails {
              display: flex;
              flex-direction: column;
              width: 100%;

              // @include border(red);
              .vinylType {
                font-size: 12px;
                font-weight: 600;
                color: rgb(107, 107, 107);
                line-height: 22px;
                // @include border(pink);
              }
              .vinylTitle {
                font-size: 16px;
                font-weight: 700;
                line-height: 22px;

                // @include border(pink);
              }
              .vinylArtist {
                font-size: 14px;
                font-weight: 400;
                line-height: 22px;

                // @include border(pink);
              }
            }
            .vinylDelete {
              width: fit-content;
              filter: invert(48%);
              height: fit-content;
              &:hover {
                filter: invert(71%);
                cursor: pointer;

              }
              // @include border(red);

            }
          }
          .vinylAmount {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            // @include border(green);
            .vinylQuantityWrapper {
              display: flex;
              flex-direction: row;
              @include border(green);

            }
            .vinylPrice {
              font-size: 16px;
              font-weight: 700;
              line-height: 34px;
            }
          }

        }
      }
    }
    .modalFooter {
      padding: 14px 30px 24px;
      background-color: rgb(248, 248, 248);
      // @include border(red);

      .totalWrapper {
        // height: 207px;
        // height: 100%;
        display: flex;
        flex-direction: column;
        margin: 2.5px 2.5px 24px;

        // @include border(orange);
        .subTotal {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          line-height: 23px;
          // @include border(blue);
        }
        .orderTotal {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding-top: 16px;
          margin-top: 16px;
          font-size: 18px;
          font-weight: 700;
          background: transparent url(https://vinyl.com/cdn/shop/t/59/assets/dashed-line.svg) repeat-x 0 0;
          // @include border(blue);
        }
      }
      .shippingProtection {
        display: flex;
        flex-direction: row;


        // @include border(blue);
        .details {
          display: flex;
          flex-direction: column;
          margin-block: 5px;
          color: rgb(82, 82, 82);
          .header {
            font-size: 14px;
            font-weight: 700;
            margin-bottom: 5px;

          }
          .info {
            font-size: 12px;
            font-weight: 400;

          }

          // @include border(yellow);
        }
      }
      .checkout {
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: #02CBA4;
        background-color: $accent-color;
        padding: 11px 14px;
        font-size: 18px;
        font-weight: 700;
        margin-top: 16px;
        opacity: .65;
        // @include border(blue);
        &.active {
          opacity: 1;
          background-color: $accent-color;
          // @include border(blue);
          cursor: pointer;

        }

      }
      .shippingAndTaxes {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        color: rgb(86, 86, 86);
        margin-top: 10px;
        // @include border(blue);
      }
    }
  }
}