$accent-color: #00cca7;

@mixin border($color) {
  border-style: solid;
  border-width: .15rem;
  border-color: $color;
}

@keyframes pulse {
  0% {
    transform: scale(.9);
    filter: blur(10px);
  }

  50% {
    transform: scale(1.1);
    filter: blur(12px);
  }
  100% {
    transform: scale(.9);
    filter: blur(10px);
  }
}

.navbar {
  position: fixed;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;;
  width: 100%;
  z-index: 52;
  background-color: #0a0a0a;
  transition: transform 0.2s ease-in;

  &.visible {
    transform: translateY(0);
  }

  &.hidden {
    transform: translateY(-200%);
  }

  // @include border(red);
  .container {
    display: flex;
    flex-direction: row;
    width: 1440px;
    justify-content: space-between;
    align-items: center;
    // @include border(blue);
    .logoWrapper {
      display: flex;
      align-items: center;
      height: fit-content;

      // @include border(yellow);
      .logo {
        cursor: pointer;
        height: fit-content;
        // @include border(hotpink);
      }
    }
    .wrapper {
      display: flex;
      flex-direction: row;
      column-gap: 10px;

      // @include border(yellow);

      .pages {
        display: flex;
        flex-direction: row;
        // column-gap: 15px;
        align-items: center;
        font-size: 16px;
        font-weight: 700;
        margin-right: 15px;
        // @include border(hotpink);



        .pageWrapper {
          padding: 10px;
          height: fit-content;
          align-items: center;
          position: relative;
          display: flex;
          flex-direction: row;
          &:hover {
            cursor: pointer;
            color: $accent-color;
            .icon {
              filter: invert(70%) sepia(160%) saturate(1800%) hue-rotate(150deg) brightness(125%) contrast(110%);
            }
          }
          // @include border(white);

          .page {
            z-index: 50;
          }
          .pulse {
            // background: rgb(238, 42, 42);
            background-color: #02cba4;
            border-radius: 50%;
            margin: 10px;
            width: calc(100% - 10px);
            height: calc(100% - 10px);
            position: absolute;
            top: -5px;
            left: -4px;
            z-index: 49;
            animation: pulse 2s infinite;
            @include border(white);
          }

          .icon {
            transform: rotate(180deg);
            margin-left: 4px;
            translate:0px 1.5px;
            // @include border(rgb(255, 255, 255));
          }
        }
      }
      .input {
        display: flex;
        align-items: center;
        margin-right: 15px;
        // @include border(hotpink);

        .inputWrapper {
          position: relative;
          display: flex;
          height: fit-content;
          width: fit-content;
          flex-direction: row;
          justify-content: space-between;
          // @include border(green);

          input[type="text"] {
            appearance: none;
            background-color: rgb(46, 46, 46);
            display: inline-block;
            height: 38px;
            padding-left: 10px;
            padding-right: 72px;
            font-size: 16px;
            width: 400px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            @include border(transparent);;

            &:focus {
              outline: none;
              @include border($accent-color);
            }
          }

          .searchButton {
            display: block;
            position: absolute;
            right: 10px;
            top: 8px;
            height: 24px;
            text-align: center;
            appearance: none;
            background-color: transparent;
            cursor: pointer;
            font-weight: 700;
            font-size: 16px;
            color: $accent-color;
            // @include border(blue);
            @include border(transparent);
          }
        }
      }
      .account {
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 600;
        color: $accent-color;
        margin-right: 15px;
        cursor: pointer;
        // @include border(hotpink);

        .icon {
          margin-right: 6px;
        }
      }
      .cart {
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        .cartCount {
          font-size: 9px;
          font-weight: 700;
          position: absolute;
          top: 17px;
          color: $accent-color;
          width: fit-content;
          // @include border(hotpink);
          &.single {
            left: 41%;
          }
          &.double {
            left: 31%;
          }
          &.triple {
            left: 22%;
          }
        }
        // @include border(hotpink);
      }
    }
  }
}

.footer {
  background-color: #323232;
  padding-top: 56px;
  padding-bottom: 56px;
  font-size: 1.6rem;
  line-height: 1.4;
  justify-items: center;

  // @include border(red);
  .container {
    width: 1440px;
    // @include border(yellow);

    .divider {
      margin-block: 25px;
      // border-top-color: rgb(240, 10, 10);
      border-top-color: rgb(86, 86, 86);
      border-top-style: solid;
      border-top-width: 1px;
    }

    .logo {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      // @include border(blue);

    }
    .links {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      font-size: 16px;
      // @include border(blue);
      .pages {
        display: flex;
        flex-direction: row;
        column-gap: 20px;
        // @include border(green);
        .page {
          cursor: pointer;
          &:hover {
            color: $accent-color;
          }
          // @include border(orange);
        }
      }
      .socials {
        font-size: 16px;
        display: flex;
        align-items: center;
        .social {
          width:fit-content;
          margin-right: 12px;
          &:hover {
            filter: invert(70%) sepia(160%) saturate(1800%) hue-rotate(150deg) brightness(125%) contrast(110%);
            cursor: pointer;
          }
          // @include border(orange);
        }
        // @include border(green);
      }
    }
    .details {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 16px;
      align-items: center;
      // @include border(blue);
      .copyright {
        display: flex;
        align-items: center;
        // @include border(green);

        .link {
          display: flex;
          align-items: center;
          cursor: pointer;
          margin-right: 16px;
          // @include border(orange);
        }
        .rights {
          display: flex;
          align-items: center;
          color: #6b6b6b;
        }
      }
      .powered {
        display: flex;
        flex-direction: row;
        // @include border(green);
        .name {
          margin-right: 16px;
          span:first-child {
            margin-right: 5px;
          }
          span:last-child {
            text-decoration: underline;
            &:hover {
              color: $accent-color;
              cursor: pointer;
            }
          }
          column-gap: 5px;
          // @include border(orange);
        }
        .region {
          display: flex;
          align-items: center;

          // @include border(orange);
          span:first-child {
            margin-right: 5px;
          }
          .search {
            cursor: pointer;
            display: flex;
            align-items: center;

            .location {
              text-decoration: underline;
              margin-right: 5px;
            }
            span:last-child {
              font-size: 8px;
              // @include border(orange);
            }
          }
        }
      }

    }

    // .showCart {
    //   @include border(red);
    // }
    // .hideCart {
    //   @include border(red);
    // }
  }
}